
<nav class="navBar">
  <div>
    <a href="">
      <img class="brand" src="../../../assets/logo/logo.png">
    </a>
  </div>
  <ul class="navLinks">
    <li><a href="">HOME</a></li>
    <li><a href="about">ABOUT</a></li>
    <li><a href="projects">PROJECTS</a></li>
  </ul>
  <ul class="icons">
    <li>
      <ul style="list-style: none">
        <li style="height: 12px"></li>
        <li><a href="favourites"><img src="https://www.svgrepo.com/show/14970/heart.svg"></a></li>
      </ul>
    </li>
    <li>
      <ul style="list-style: none">
        <li style="text-align: center; font-size: 12px">
          {{count$ | async}}
        </li>
        <li><a href="cart"><img src="https://cdn-icons-png.flaticon.com/512/263/263142.png"></a></li>
      </ul></li>
  </ul>
  <div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>


