/* You can add global styles to this file, and also import other style files */
/*
@font-face {
  font-family: "Lato";
  src: local("Lato_black"), url(./assets/fonts/Lato-Black.ttf) format("truetype");
  src: local("Lato_blackitalic"), url(./assets/fonts/Lato-BlackItalic.ttf) format("truetype");
  src: local("Lato_bold"), url(./assets/fonts/Lato-Bold.ttf) format("truetype");
  src: local("Lato_bolditalic"), url(./assets/fonts/Lato-BoldItalic.ttf) format("truetype");
  src: local("Lato_italic"), url(./assets/fonts/Lato-Italic.ttf) format("truetype");
  src: local("Lato_light"), url(./assets/fonts/Lato-Light.ttf) format("truetype");
  src: local("Lato_lightitalic"), url(./assets/fonts/Lato-LightItalic.ttf) format("truetype");
  src: local("Lato_regular"), url(./assets/fonts/Lato-Regular.ttf) format("truetype");
  src: local("Lato_thin"), url(./assets/fonts/Lato-Thin.ttf) format("truetype");
  src: local("Lato_thinitalic"), url(./assets/fonts/Lato-ThinItalic.ttf) format("truetype");
}
*/
@import './assets/fonts/index.scss';

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

/*@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');*/
