<section class="footer">
  <footer class="column">
    <li></li>
    <li></li>
    <li>
      <h1>Moje zamówienie</h1>
      <h2>Status zamówienia</h2>
      <h2>Kontakt</h2>
      <h2>Zwroty i reklamacje</h2>
    </li>
    <li>
      <h1>Moje konto</h1>
      <h2>Rejestracja</h2>
      <h2>Historia transakcji</h2>
      <h2>Newsletter</h2>
    </li>
    <li>
      <h1>Regulaminy</h1>
      <h2>Regulamin</h2>
      <h2>Polityka prywatności</h2>
      <h2>Wysyłka</h2>
    </li>
    <li></li>
  </footer>
</section>

<script>
</script>

