

<section style="width: 100%; background-color: #eeebe8">
  <ul class="textbar">
    <a href="projects">
      SEE MY WORKS
    </a>
  </ul>

  <div class="slider" style="align-content: center; margin: 0px; margin-left: 15%">
    <ng-image-slider #nav
                     [images]="imageObject"
                     [infinite]="true"
                     [autoSlide]="1"
                     [imageSize]="{width: '32.95%', height: '60%'}"
                     slideImage="1"
    ></ng-image-slider>
  </div>

</section>
